@import 'resets.css';

body {
    width: 100%;
    text-align: center;
}

#sum {
    font-size: 100px;
}

.positive {
    color: black;
}

.negative {
    color: red;
}

button, input {
    font-size: 25px;
    padding: 40px;
    border-radius: 5px;
    text-align: center;
}

button {
    background-color: grey;
    color: white;
}

button:hover {
    background-color: white;
    color: grey; 
}
